.old-price {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  &__price {
    position: relative;

    &::before {
      content: '';
      height: 2px;
      position: absolute;
      top: 50%;
      left: -1px;
      right: -1px;
      transform: translateY(-50%);
      background-color: $White;
      border-top: 1px solid $Black;
    }
  }
}

@media screen and (max-width: 868px) {
  .old-price {
    &__price {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
